<html lang="es">

<head>
	<title>Tienda Online</title>
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
	<style>
		.card {
			float: left;
			border: 0px;
		}
		.caja {
			display: grid;
			grid-template-columns: 1fr 1fr 1fr 1fr;
			grid-template-rows: 1fr 1fr;

		}
		h1 {
			text-align: center;
		}

		.descuento {
			color: red;
		}
		.total {
			color:green;
		}
	</style>
</head>

<body>
	<nav th:replace="navbarLoad"></nav>


	<h1>Productos de oferta</h1>

	<div class="caja">
		<div th:each="producto:${lista_prod}">
			<div class="card">
				<div class="d-flex flex-column align-items-center text-center"  th:if="${producto.imagen ==null}">
						<a th:href="@{producto/{id}(id=${producto.id_prod})}" class="img_link"><img class="card-img-top"
						th:src="@{/images/default.png}" alt="Card image cap"></a>
					</div>
					<div class="d-flex flex-column align-items-center text-center"  th:if="${producto.imagen !=null}">
						<a th:href="@{producto/{id}(id=${producto.id_prod})}" class="img_link"><img class="card-img-top"
						th:src="@{/imagenes/{id_producto}(id_producto=${producto.id_prod})}" alt="Card image cap"></a>
					</div>
				
				<div class="card-body">
					<h5 class="card-title" th:text="${producto.nom_prod}"></h5>
					<p>Descripción:</p>
					<p class="card-text" th:text="${producto.descripcion}"></p>
					<p>Precio:</p>
					<span class="card-text" th:text="${producto.precio}"></span> 
					<p>Descuento:</p>
					<!--<span class="card-text descuento" th:if="${producto.descuento != 0}" th:text="${producto.descuento}"></span>-->
					<span class="card-text total" th:if="${producto.descuento != 0}" th:text="${ producto.precio - ((producto.precio * producto.descuento) / 100)}+€"></span> 
					<br>
					
					<a th:href="@{producto/{id}(id=${producto.id_prod})}" class="btn btn-primary">Ver Producto</a>
				</div>
			</div>
		</div>
	</div>
	<!--<p th:text="${producto}"></p>-->


</body>

</html>